{:paths ["src"]
 
 :deps 
 {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}
  
  clj-kondo/clj-kondo {:mvn/version "2021.04.23"}}
 
 :aliases
 {:repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}}}